In [1]:
import pandas as pd

In [2]:
# LaLonde dataset(RCT)
RCT_DATA = "http://www.nber.org/~rdehejia/data/nsw_dw.dta"

# Data limited to cps surveys that were unemployed at the time of the survey.
CPS_DATA = "http://www.nber.org/~rdehejia/data/cps_controls3.dta"

df = pd.concat(
    [
        pd.read_stata(RCT_DATA).query(
            "treat>0"
        ),  # RCT data, only treated data is extracted.
        pd.read_stata(CPS_DATA),
    ]
).reset_index(drop=True)

del df["data_id"]

df["treat"] = df["treat"].astype(int)

In [3]:
df.sample(5)

,treat,age,education,black,hispanic,married,nodegree,re74,re75,re78
491,0,45.0,12.0,0.0,0.0,1.0,0.0,9277.127930,0.000000,12108.490234
246,0,22.0,9.0,0.0,0.0,1.0,1.0,5683.833008,6038.757812,4742.024902
165,1,19.0,10.0,0.0,0.0,0.0,1.0,0.000000,5324.108887,13829.620117
240,0,29.0,8.0,0.0,0.0,1.0,1.0,9169.369141,6352.064941,20575.859375
175,1,28.0,11.0,1.0,0.0,0.0,1.0,1929.029053,6871.855957,0.000000

In [4]:
df.groupby("treat")["re78"].count()

treat
0    429
1    185
Name: re78, dtype: int64